<div class="user-data full-width">
    <div class="user-profile">
        <div class="username-dt">
            <div class="usr-pic">
                <img [src]="endPointFoto" alt="">
            </div>
        </div><!--username-dt end-->
        <div class="user-specs">
            <h3>{{usuario.nome}}</h3>
            <span>Designer gráfico na petrobrás</span>
        </div>
    </div><!--user-profile end-->
    <ul class="user-fw-status">
        <li>
            <h4>Seguindo</h4>
            <span>0</span>
        </li>
        <li>
            <h4>Seguidores</h4>
            <span>0</span>
        </li>
        <li>
            <a href="#" title="">View Profile</a>
        </li>
    </ul>
</div><!--user-data end-->