
            <li>
                <div class="comment-list">
                    <div class="bg-img">
                        <img class="imgComentario" [src]="endPointFoto" alt="">
                    </div>
                    <div class="comment">
                        <h3>{{comentario.usuario.nome}}</h3>
                        <span><img src="images/clock.png" alt=""> 3 min ago</span>
                        <p>{{comentario.texto}} </p>
                        <a href="#" title="" class="active"><i class="fa fa-reply-all"></i>Reply</a>
                    </div>
                </div>
                <!--comment-list end-->
            </li>
