<div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2926px; transform: translate3d(-418px, 0px, 0px);"><div class="user-profy slick-slide slick-cloned" tabindex="-1" style="width: 201px;" data-slick-index="-2" aria-hidden="true">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="-1"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="-1">View Profile</a>
</div><div class="user-profy slick-slide slick-cloned" tabindex="-1" style="width: 201px;" data-slick-index="-1" aria-hidden="true">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="-1"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="-1">View Profile</a>
</div><div class="user-profy slick-slide slick-current slick-active" tabindex="0" style="width: 201px;" data-slick-index="0" aria-hidden="false">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="0">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="0"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="0">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="0">View Profile</a>
</div><div class="user-profy slick-slide slick-active" tabindex="0" style="width: 201px;" data-slick-index="1" aria-hidden="false">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="0">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="0"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="0">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="0">View Profile</a>
</div><div class="user-profy slick-slide" tabindex="-1" style="width: 201px;" data-slick-index="2" aria-hidden="true">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="-1"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="-1">View Profile</a>
</div><div class="user-profy slick-slide" tabindex="-1" style="width: 201px;" data-slick-index="3" aria-hidden="true">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="-1"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="-1">View Profile</a>
</div><div class="user-profy slick-slide" tabindex="-1" style="width: 201px;" data-slick-index="4" aria-hidden="true">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="-1"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="-1">View Profile</a>
</div><div class="user-profy slick-slide" tabindex="-1" style="width: 201px;" data-slick-index="5" aria-hidden="true">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="-1"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="-1">View Profile</a>
</div><div class="user-profy slick-slide slick-cloned" tabindex="-1" style="width: 201px;" data-slick-index="6" aria-hidden="true">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="-1"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="-1">View Profile</a>
</div><div class="user-profy slick-slide slick-cloned" tabindex="-1" style="width: 201px;" data-slick-index="7" aria-hidden="true">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="-1"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="-1">View Profile</a>
</div><div class="user-profy slick-slide slick-cloned" tabindex="-1" style="width: 201px;" data-slick-index="8" aria-hidden="true">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="-1"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="-1">View Profile</a>
</div><div class="user-profy slick-slide slick-cloned" tabindex="-1" style="width: 201px;" data-slick-index="9" aria-hidden="true">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="-1"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="-1">View Profile</a>
</div><div class="user-profy slick-slide slick-cloned" tabindex="-1" style="width: 201px;" data-slick-index="10" aria-hidden="true">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="-1"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="-1">View Profile</a>
</div><div class="user-profy slick-slide slick-cloned" tabindex="-1" style="width: 201px;" data-slick-index="11" aria-hidden="true">
    <img src="http://via.placeholder.com/57x57" alt="">
    <h3>John Doe</h3>
    <span>Graphic Designer</span>
    <ul>
        <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
        <li><a href="#" title="" class="envlp" tabindex="-1"><img src="images/envelop.png" alt=""></a></li>
        <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
    </ul>
    <a href="#" title="" tabindex="-1">View Profile</a>
</div></div></div>